@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post-single {
  &__inner {
    max-width: $layout-post-single-max-width;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 5em;
  }

  &__bar {
    box-sizing: 'content-box';
    border-top: "1px solid rgba(0,0,0,.1)";
    height: "0";
    color: '#212529';
    width: '100%';
    margin-top: 0em;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    max-width: $layout-post-single-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    // @include line-height(1.65);
    // @include margin-bottom(0);
    margin-top: 0em;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    font-size: $typographic-base-font-size * 2.3;
    max-width: $layout-post-single-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    // @include line-height(1.65);
    // @include margin-bottom(0);
    margin-top: 0em;
    margin-bottom: 0em;
  }

  &__journal {
    font-weight: normal;
    line-height: 1;
    color: #999999;
    font-size: $typographic-base-font-size * 1.4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // @include line-height(1.65);
    // @include margin-bottom(0);
    margin-top: 0.5em;
    margin-bottom: 0em;
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
  }

  &__center {
    display: grid;
    align-items:center;
  }

  &__header {
    background-color: #e9ecef;
    padding: 4rem;
  }

  &__authors {
    font-size: $typographic-base-font-size*1.2;
    @include line-height(1);
    @include margin-top(0.1);
    @include margin-bottom(1.5);
    text-align: center;
  }

  &__links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  &__link {
    font-size: $typographic-base-font-size;
    color: $color-primary;
    text-align: center;
    border-bottom: 1px solid #FFFFFF00;
    &:hover,
    &:focus {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
    margin-right: 1rem;
  }

.bibtex {
  background-color: #e9ecef;
  height: 10em;
  align: center;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  width: 100%;
  display: block;
  font-weight: 300;
}

.center {
    // width: $layout-post-single-width;
    // height: auto;
    // position: absolute;
    // margin: auto;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
}

  &__body {
    max-width: $layout-post-single-width;
    margin-left: auto;
    margin-right: auto;
    & figure {
      @include margin-bottom(1);
      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);
        & p {
          max-width: $layout-post-single-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }
    & a {
      text-decoration: underline;
    }
    & .gatsby-highlight {
      max-width: $layout-post-single-width;
      font-size: $typographic-base-font-size * 0.8;
      margin-left: 15px;
      margin-right: 15px;
      @include margin-bottom(1);
    }
    & :not(div) {
      max-width: $layout-post-single-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__footer {
    max-width: $layout-post-single-width;
    margin-left: 15px;
    margin-right: 15px;
    @include line-height(1);
    @include margin-top(1);
    @include margin-bottom(2);
    &-text {
      & a {
        text-decoration: underline;
      }
    }
  }
  &__date {
    max-width: $layout-post-single-width;
    margin-left: auto;
    margin-right: auto;
  }
  &__tags {
    @include margin-bottom(.5);
    &-list {
      list-style: none;
      margin: 0 -5px;
      padding: 0;
      &-item {
        display: inline-block;
        margin: 10px 5px;
        &-link {
          background: $color-gray-bg;
          text-decoration: none;
          border: 0;
          border-radius: 3px;
          color: lighten($color-base, 20%);
          line-height: $typographic-base-line-height;
          padding: 8px 16px;
          &:hover,
          &:focus {
            color: $color-base;
            background: darken($color-gray-bg, 5%);
            border: 0;
          }
        }
      }
    }
  }
  &__home-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90px;
    font-size: $typographic-base-font-size;
    padding: 0 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: lighten($color-base, 20%);
    background: $color-gray-bg;
    font-weight: 400;
    border-radius: 3px;
    @include margin-top(1);
    &:hover,
    &:focus {
      color: $color-base;
      background: darken($color-gray-bg, 5%);
      border: 0;
    }
  }
}

@include breakpoint-sm {
  .post-single {
    &__footer {
      margin-left: auto;
      margin-right: auto;
    }
    &__body {
      & .gatsby-highlight {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@include breakpoint-md {
  .post-single {
    &__inner {
      padding: 0;
    }
    &__title {
      font-size: $typographic-base-font-size * 2.5;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }
    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);
      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px;
    }
  }
}
