/** 
 * Variables
 */

// Colors
$color-base: #222;
$color-primary: #5d93ff;
$color-secondary: #f7a046;

$color-white: lighten($color-base, 100%);
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Layout
$layout-post-single-max-width: 1345px;
$layout-post-single-width: $layout-post-single-max-width - 305px;

$layout-width: 150rem;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// Button
$btn-font-weight: 16px;
$btn-border-width: 1px;
$btn-padding-y: 1px;
$btn-padding-x: 1px;
$font-size-base: 1rem;
$btn-border-radius: 1px;
$btn-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
$btn-disabled-opacity: 1;
$btn-focus-box-shadow: 1px
