@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    @include margin-bottom(1);
    &__list {
        list-style: none;
        padding: 0;
        padding-left: 1em;
        margin: 0;
        &-item {
            padding: 0;
            margin: 10px 0;
            &-link {
                font-size: $typographic-base-font-size;
                color: $typographic-base-font-color;
                font-weight: 400;
                border: 0;
                &:hover,
                &:focus {
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
                &--active {
                    color: $color-base;
                    border-bottom: 1px solid $color-base;
                }
            }
        }
    }
}
