
.icon-scholar:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
