@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
    @include margin-bottom(1.25);
    &:last-child {
        @include margin-bottom(.5);
    }
    &__title {
        font-size: $typographic-base-font-size * 1.3;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(.0);
        text-align: left;
        &-link {
            color: $color-base;
            &:hover,
            &:focus {
                color: $color-base;
                border-bottom: 1px solid $color-base;
            }
        }
    }

    &__authors {
        font-size: $typographic-base-font-size*0.9;
        @include line-height(1);
        @include margin-top(-0.1);
        @include margin-bottom(0);
    }

    &__description {
        font-size: $typographic-base-font-size*0.9;
        @include line-height(1);
        @include margin-bottom(.25);
    }
    &__preview {
      &-container {
          margin: 2%;
          width: 28%,
      }
      &-photo {
          display: inline-block;
          margin-bottom: 0;
          max-width: 100%;
          // max-height: 100%;
          background-clip: padding-box;
      }
    }
    &__text {
        width: 70%;
    }
    &__card {
        // align-items: center;
        width: 100%;
        padding: 0.5rem;
        display: flex;
    }
    &__links {
      display: flex;
    }
    &__link {
      font-size: $typographic-base-font-size;
      color: $color-primary;
      border-bottom: 1px solid #FFFFFF00;
      &:hover,
      &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
      }
      margin-right: 1rem;
    }
    &__meta {
        &-time {
            font-size: $typographic-small-font-size;
            color: $color-base;
            font-weight: 500;
            text-transform: uppercase;
        }
        &-divider {
            margin: 0 5px;
        }
        &-category {
            &-link {
                font-size: $typographic-small-font-size;
                color: $color-secondary;
                font-weight: 500;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }
    }
    &__readmore {
        font-size: $typographic-base-font-size;
        color: $color-primary;
        &:hover,
        &:focus {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }
}
